<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fuzzy Search</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css"
    />
    <link rel="stylesheet" href="http://ez-css.now.sh" />
  </head>
  <body>
    <main id="app">
      <h2>{{title}}</h2>
      <span>Search term {{keyword}}</span>
      <form @submit.prevent="">
        <label for="search-term">Search Item</label>
        <input
          type="text"
          id="search-term"
          v-model="keyword"
          name="search_term"
        />
      </form>
      <ul>
        <li v-for="data in results">
          {{data}}
        </li>
      </ul>
    </main>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script type="module" src="app.js"></script>
  </body>
</html>
